Repository BNFC/bnfc, pull requests merged in 2022-02, with the labels that each got.

#399 Make `closingToken` function pattern matching exhaustive
  source/src/BNFC/Backend/Haskell/CFtoLayout.hs
Labels: Haskell, layout

#413 Re #399: do not pop top layout block when encountering layout stop
  source/CHANGELOG.md
  source/src/BNFC/Backend/Haskell/CFtoLayout.hs
  testing/regression-tests/399_TopLayoutStop/good01.in
  testing/regression-tests/399_TopLayoutStop/test.cf
Labels: bug, Haskell, layout

#415 Fix #414: do not use error token in Menhir backend
  examples/Calc/bad01.in
  examples/Calc/good01.in
  source/CHANGELOG.md
  source/src/BNFC/Backend/OCaml.hs
  source/src/BNFC/Backend/OCaml/CFtoOCamlTest.hs
  source/src/BNFC/Backend/OCaml/CFtoOCamlYacc.hs
Labels: parser, entrypoints, Ocaml/Menhir
